@page
@model AplicacionWebG3.WebApp2.Pages.Gestion.RegistroC
@{
    ViewData["Title"] = "RegistroC";
}

<h1>@ViewData["Title"]</h1>

    <script>

 
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: 'UTC',
      initialView: 'dayGridMonth',
      selectable: true,
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'timeGridWeek,timeGridDay,dayGridMonth'
      }
      
    });

    calendar.render();
  });

    </script>

  <body>
    <div id='calendar'></div>
  </body>